@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">Welcome to the app</h1>
    <p class="lead text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam error minus deserunt doloribus animi est assumenda atque recusandae illum fuga, perferendis earum! Quam quod delectus quo quae beatae sint exercitationem?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, dignissimos, perferendis autem necessitatibus reprehenderit deserunt commodi et magni, consequuntur quas suscipit voluptatum odio quo. Voluptates nisi animi velit corrupti fugiat!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto quos iure vel quisquam nemo eveniet, illum animi quasi officia culpa deleniti nobis maiores amet suscipit sequi provident commodi nam soluta!
    </p>
</div>
